<% @posts.each do |post| %>
<article>
  <h2><%= post.title %></h2>
  <div class='post-meta'>
    By: <%= post.author.name  %><br/>
    Last updated: <%= post.created_at.to_s(:long) %>
  </div>

  <div class='post-content'>
    <%= simple_format post.content %>
  </div>
  <div><h4>Write a comment</h4>
    <% @comment = Comment.new(post_id:post.id) %>
    <%= form_for(@comment) do |f| %>

        <div class="field">
          <%= f.label :content %><br>
          <%= f.text_area :content %>
        </div><div class="hidden-field">
          <%= f.hidden_field :post_id %>
    <!--aller voir doc -->
        </div>
        <div class="actions">
          <%= f.submit %>
        </div>
    <% end %>
  </div>
  <div><h4>See comments</h4></div>

</article>
<% end %>